OPENAI_BASE_URL="http://litellm:4000"
OPENAI_API_KEY="sk-litellm-master-key"
OPENAI_MODEL="google/gemma4:31b"
DOCLING_SERVER_URL="http://docling:5001"
DOCLING_API_KEY="sk-docling-serve-api-key"
LANGFUSE_PUBLIC_KEY="pk-lf-langfuse-project-public-key"
LANGFUSE_SECRET_KEY="sk-lf-langfuse-project-secret-key"
LANGFUSE_OTEL_HOST="http://langfuse-web:3000"
